
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Giới thiệu</h1>
                <p>
                    Bộ sưu tập đồng hồ trong cửa hàng là sự kết hợp giữa phong cổ điển và hiện đại mang đậm nét kiến trúc cổ đại của châu Âu.
                    Các mẫu đồng hồ cao cấp nên vẻ trang nhã và sang trọng sẽ hiện diện rõ ngay từ vẻ bề ngoài sản phẩm.
                    Về tổng thể, các mẫu hiện nay có phong cách thiết kế đầy nét hiện đại, thời thượng nhưng vẫn giữ lại đôi nét cổ điển bên trong.
                </p>
            </div>
            <div class="col-md-4">
                <img src=" ~/Content/assets/img/about-hero.svg" alt="About Hero">
            </div>
        </div>
    </div>
</section>
<!-- Close Banner -->
<!-- Start Section -->
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Dịch vụ</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                <h2 class="h5 mt-4 text-center">Giao hàng nhanh chóng</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                <h2 class="h5 mt-4 text-center">Hoàn trả nhanh</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                <h2 class="h5 mt-4 text-center">Uy Tín - Chất Lượng</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                <h2 class="h5 mt-4 text-center">Liên hệ 24/7</h2>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->