.container-cart{
    margin: 70px 24px;
}
.table > tbody > tr > td {
    border: 1px solid #999;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
    text-align: center !important;
}

.td, th {
    border: 1px solid black !important;
    text-align: center;
}

.table th {
    white-space: normal !important;
}
