@model SmartWatchManager.Models.Order
@{
    ViewBag.Title = "Thông báo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:50px">
    <hgroup class="col-lg-6 m-auto">
        <img style="height: 150px; width: 250px; display: block; margin: 0 auto" src="https://www.kasa-solutions.com/wp-content/uploads/sites/2/2016/01/icon-check.png" alt="Alternate Text" />
        <h2 class="text-danger" style="text-align: center; color: #59ab6e">Thanh toán thành công.</h2>
    </hgroup>
</div>